@model IEnumerable<IBMCAS.Models.Appointment>

@{
    ViewBag.Title = "Approved Appointments";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";

}
<br />
<h2>Approved Appointments</h2>
<br />
@{ Html.RenderPartial("~/Views/Appointment/ListAppointments.cshtml", Model);}