@model IEnumerable<IBMCAS.Models.Appointment>

@{
    ViewBag.Title = "Apointments";
    Layout = "~/Views/Shared/_LayoutPhysician.cshtml";
}

<h2 class="mt-2">Appointments</h2>

<table class="table">
    <tr>
        <th>
            Appointment Token
        </th>
        <th>
            Patient MR No
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advice)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.PatientMRNumber)
        </td>
        <td>
            <a href="~/Physician/AdvicePrescriptionForm?AppointmentID=@item.AppointmentID"><button>Advice</button></a>
        </td>
    </tr>
}

</table>
