
@{
    ViewBag.Title = "ReAdvise";
    Layout = "~/Views/Shared/_LayoutPhysician.cshtml";
}

<h2 class="mt-3">
    Advise and Preciption Already Given...            
    <a href =@Url.Action("Apointments")>Please Go Back</a>
</h2>

