@model IBMCAS.Models.PurchaseLine

@{
    ViewBag.Title = "PurchaseOrder";
    Layout = "~/Views/Shared/_Layoutchemist.cshtml";
}

<h2 class="text-center">Give Any Note/Instructions</h2>
<hr />
<form action="@Url.Action("PurchaseOrder","chemist")" method="post">
    <div class="form-group">
        <label>Please write advice here</label>
        <textarea class="form-control" name="Note" rows="3"></textarea>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Drug Name
                </th>
                <th>
                    Qty
                </th>
                <th>
                    ShortNote
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblPrdLineCnt">
            <tr>
                <td hidden>
                    <input value="@ViewBag.SupplierId" name="SupplierId">
                </td>
                <td>
                    @*@Html.DropDownList("DrugID", null, htmlAttributes: new { @class = "form-control", id = "rowCmbDrugID" })*@
                    <input type="text" class="form-control" id="rowCmbDrugName" placeholder="Search Drug Name" list="drglist" name="DrugName">
                    <datalist id="drglist">
                        @foreach (var item in ViewBag.Drugs)
                        {
                            <option value="@item.DrugName"></option>
                        }
                    </datalist>
                </td>
                <td>
                    @*@Html.EditorFor(model => model.POHeader.Note, new { htmlAttributes = new { @class = "form-control", id = "rowtxtNote" } })*@
                    <input type="number" class="form-control" id="rowQty" placeholder="Qtantity" name="Qty">
                </td>
                <td>
                    @*@Html.EditorFor(model => model.POHeader.Note, new { htmlAttributes = new { @class = "form-control", id = "rowtxtNote" } })*@
                    <input type="text" class="form-control" id="rowtxtNote" placeholder="ShortNote" name="ShortNote">
                </td>
                <td>
                    <button id="btnSave" class="btn btn-primary">Add Drug</button>
                    <button id="btnCancel" class="btn btn-secondary">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input id="btnSavePO" type="submit" value="Create" class="btn btn-default" />*@
                <button id="btnSavePO" class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/jquery-1.8.0.js"></script>
<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    var ctr = 0
    $(function () {
        $("#btnSave").click(function (e) {
            e.preventDefault()
            ctr++
           /* row = ${ ctr } id = "rw${ctr}" + drgid=${ $("#rowCmbDrugName").val() } qty = ${ $("#rowtxtNote").val() } note = "${$("#rowtxtNote").val()}"*/
            var row = `<tr>
                <td>${$("#rowCmbDrugName").val()}
                    <input type="hidden" name="pbdies[${ctr - 1}].DrugName" value="${$("#rowCmbDrugName").val()}" />
                </td>
                <td>${$("#rowtxtNote").val()}
                     <input type="hidden" name="pbdies[${ctr - 1}].Qty" value="${$("#rowQty").val()}" />
                </td>
                <td>${$("#rowtxtNote").val()}
                    <input type="hidden" name="pbdies[${ctr - 1}].ShortNote" value="${$("#rowtxtNote").val()}" />
                </td>
                <td>
                    <button class="btn btn-danger btnRemove" data-rowid="${ctr}">Remove</button>
                </td>
            </tr>`;
            $("#tblPrdLineCnt").append(row);
        });
        $("#tblPrdLineCnt").on("click", ".btnRemove", function () {
            var rowId = $(this).data("rowid");
            $("#rw" + rowId).remove();
        });
        $("#btnCancel").click(function (e) {
            alert("c");
        });
    });
</script>