@model IEnumerable<IBMCAS.Models.Appointment>

@{
    ViewBag.Title = "FrontDesk";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>FrontDesk</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Token No
        </th>
        <th>
            Patient Id
        </th>
        <th>
            Physician Id
        </th>
        <th>
            Scheduled Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicianID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledTime)
            </td>
        </tr>
    }

</table>
