@model IEnumerable<IBMCAS.Models.Patient>

@{
    ViewBag.Title = "PatientIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Patient Management Page</h2>

@*<p>
        @Html.ActionLink("Add New", "AddPatient")
    </p>*@

<table class="table">
    <tr>
        <th>
            MRNumber
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PatientFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientLastName)*@
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Gender
        </th>
        <th>
            AadhaarNumber
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               MRNumber
            </td>
            <td>
               FirstName
            @*</td>
            <td>*@
                LastName
            </td>
            <td>
                Phone
            </td>
            <td>
                Email
            </td>
            <td>
                Gender
            </td>
            <td>
                AadhaarNumber
            </td>
            <td>
                <button type="button" class="btn btn-success">
                    <a href="@Url.Action("ShowPatient", new { id = item.PatientMRNumber })" style="color: white; text-decoration: none !important">Select</a>
                </button>
            </td>
        </tr>
    }

</table>
